html {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-anchor: none;
  @include rubik(400, 16);
  line-height: 1.3;
  color: $light-blue;

  &.locked {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

address {
  font-style: normal;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  @include dmsans(700, 36);
  color: $dark-text2;
}

.icon {
  display: block;
  width: 51px;
  height: 51px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .3s;
  border-radius: 50%;

  &--search {
    background-image: url('../images/search-icon.svg');
  }

  &--cart {
    background-image: url('../images/cart-icon.svg');
    background-position: 52% 59%;
    position: relative;
  }

  &--like {
    background-image: url('../images/like-icon.svg');
    background-position: 45% 61%;
    position: relative;
  }

  &--more {
    background-image: url('../images/more-icon.svg');
  }

  &:focus {
    border-color: #000;
  }
}

.decoration {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
  }

  &--arrow {
    &::after {
      width: 22px;
      height: 9px;
      right: 19px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}